$white: #f3f3f3;
$black: #060607;
$accent: #32926f;

body {
    font-family: Tahoma, sans-serif;
    background: $white;
    color: $black;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding-left: calc(100vw - 100%);
}

.comments {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__error,
    &__loading {
        font-size: 18px;
        margin: 10px 0 0 0;
        text-align: center;
    }
}

.list {
    width: 600px;

    &__header {
        margin: 10px 0;
        font-size: 24px;
        font-weight: bold;
        opacity: 0.66;
        text-align: center;
    }

    &__item {
        margin: 10px 0;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background: #ffffff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        border-radius: 6px;
    }
}

.item {
    &__info {
        display: flex;
        justify-content: space-between;
    }
}

.info {
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
    }

    &__likes {
        position: relative;
        right: 24px;
    }
}

.buttons {

    &__like,
    &__delete {
        width: 24px;
        height: 24px;
        background: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
    }

    &__like {
        background-image: url(../assets/heart.svg);
        background-size: 24px 24px;
    }

    &__delete {
        background-image: url(../assets/bin.svg);
        background-size: 24px 21px;
    }
}

.form {
    margin: 24px 0 0 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__name,
    &__date,
    &__text {
        font-size: 16px;
    }

    &__name,
    &__date {
        padding: 2px;
    }

    &__text {
        font-family: Tahoma, sans-serif;
        height: 120px;
        padding: 8px;
    }

    &__submit {
        font-family: Tahoma, sans-serif;
        font-size: 20px;
        height: 48px;
        border: none;
        border-radius: 12px;
        background-color: $accent;
        color: $white;
    }
}